@mixin wrapper($name, $background-color, $height) {
    .#{$name}_wrapper {
        background-color: $background-color;
        width: 100%;
        height: $height;
    }
}

@mixin container($name, $width) {
    .#{$name}_container {
        width: 1226px;
        
    }
}

@mixin menu-link {
	text-decoration: none;
	coursor: pointer;
	color: white;
	height: 36px;
	font: {
		family: $font;
	    size: 14px;
	    weight: normal;
	}
	display: inline-block;
	padding: 19px 38px 0px 38px;
	border-right: solid 1px black;
}

@mixin service-link {
	text-decoration: none;
	coursor: pointer;
	color: white;
	h2 {
		font: {
			family: $font-footer;
		    size: 16px;
		    weight: bold;
			}
	}
	&:hover {
		color: $orange;
	}
}

@mixin footer-list {
	text-decoration: none;
	coursor: pointer;
	color: #828385;
	font: {
		family: Arial, sans-serif;
	    size: 13px;
	    weight: normal;
	}
}

@mixin grey_paragraph {
	color: $par-grey;
	font: {
		family: Arial;
		weight: normal;
		size: 13px;
	}
}

@mixin black_news_h1 {
			color: black;
			padding: 10px 0 20px 0;
				font: {
						size: 20px;
						weight: bold;
						family: $font-footer;
				}
}

@mixin accordeon_panel_active {
	list-style: none;
	& span {
		background-color: $yellow;
		border: solid 1px white;
		display: block;
		height: 38px;
		margin-bottom: 5px;
	}
	& a {
		text-decoration: none;
		display: block;
    float: left;
    padding: 12px 0px 0 11px;
		color: white;
		font: {
						size: 13px;
						weight: bold;
						family: $font-footer;
				}
	}
}

@mixin accordeon_panel_hidden {
	list-style: none;
	& span {
		background-color: white;
		border: solid 1px #e8e8e8;
		display: block;
		height: 38px;
		margin-bottom: 5px;
	}
	& a {
		text-decoration: none;
		display: block;
    float: left;
    padding: 12px 0px 0 11px;
		color: black;
		font: {
				size: 13px;
				weight: bold;
				family: $font-footer;
		}
	}
}