$dark-grey: #2a2d32;
$white: white;
$beige: #f7f7f7;
$lighter-grey: #35383c;
$medium-grey: #5d6063;
$par-grey: #8a8a8a;
$blue: #248cec;
$orange: #be9117;
$yellow: #f4b60d;
$font: 'Ubuntu Condensed', sans-serif;
$font-footer: 'Ubuntu', sans-serif;

$body-height: 2677px;
$icon-size: 20px;
$cont-width: 1240px;